<body>

  <div class="container mt-5">
    <div class="jumbotron p-3 mb-2 bg-info text-white">
      <div class="text-center">
        <h1><span class="fa fa-heart-o"></span> Welcome to the Ice Cream Shop</h1>
        <hr>
      </div>
      <div id="icecreamMenu"> 
        <ul>
          {{#each icecream}}
            <li>
              <p>{{icename}}</p>
              {{#if onMenu}}
              {{> icecream devoured=false}}
              {{/if}}
              <p><button type="submit" class="btn btn-secondary" id="change-devour">Mmmm Delicious!</button></p>
            </li>
          {{/each}}
        </ul>
      </div>
      {{!-- <div id="devouredIceCream">
        <ul>
          {{#each icecream}}
            <li>
              <p>{{icecreamName}}</p>
              <p><button type="submit" class="btn btn-secondary" id="devourBtn">Devoured!</button></p>
            </li>
          {{/each}}
        </ul>
      </div> --}}
      <form name="formSurvey">
        <br>
        <h4 class="text-center">What kind of ice cream would you like?</h4>
        <div class="col-lg-12 text-center"> 
            <input type="name" class="form-control col-md-12 text-center" id="newIceCreamName" aria-describedby="newIceCreamName"
            placeholder="Type of Ice Cream">
        </div>
        <br>
        <div class="col-lg-12 text-center"> 
            <button type="submit" class="btn btn-secondary" id="submitBtn">Submit</button>
        </div>    
        </form>
    </div>
  </div>    
</body>

</html>










